/* --custom-navbar-color-text-muted-hover: #e9e9ee; */

html[data-theme="light"] {
	background: rgb(10, 170, 175) !important;
	--custom-navbar-color: #10099F;
	--custom-navbar-color-text-muted: rgba(255, 255, 255, 0.55);
	--custom-navbar-color-text-muted-hover: rgba(255, 255, 255, 0.75);
	--custom-navbar-color-title: #FFFFFF;
	--pst-color-text-base: #262626;
	--custom-dataframe-row: #f2f2f2;
	/* --pst-color-primary: #000000; */
}

html[data-theme="dark"] {
	--custom-navbar-color: var(--pst-color-on-background);
	--custom-navbar-color-text-muted: var(--pst-color-text-muted);
	--custom-navbar-color-text-muted-hover: var(--pst-color-text-muted-hover);
	--custom-navbar-color-title: var(--pst-color-text-base);
	--custom-dataframe-row: #2b2b2b;
}

.bd-header {
	background: var(--custom-navbar-color) !important;
	font-size: 1rem !important;
}

.bd-header i {
	color: var(--custom-navbar-color-text-muted) !important;
}

.bd-header .nav-link {
	color: var(--custom-navbar-color-text-muted) !important;
}

.bd-header .title {
	color: var(--custom-navbar-color-title) !important;
	font-size: 1rem !important;
}

/* .bd-header .title:hover {
	border-color: var(--custom-navbar-color-title) !important;

} */

.bd-header .nav-link:hover {
	color: var(--custom-navbar-color-text-muted-hover) !important;
}

.theme-switch-button {
	border-color: var(--custom-navbar-color) !important;
}

table.dataframe {
	font-size: 9pt;
	border: none;
	display: table;
	margin-bottom: 12px;
}

table.dataframe thead {
	border-color: rgb(189, 189, 189);
	border-style: solid;
	border-bottom-width: 1px
}

table.dataframe tr:nth-child(even) {
	background-color: var(--custom-dataframe-row) !important;
}

.prev-next-area {
	/* word-break: break-all; */
	hyphens: auto;
}