<nav role="navigation" class="navbar navbar-expand-lg navbar-dark background-hi">
	<div class="col-md-0 col-lg-1 col-sm-0"></div>
	<div class="container-fluid">
		<a class="navbar-brand" href="#">{{ site.name }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link nav-home active" aria-current="page" href="{{site.baseurl}}">{{site.title}}</a>
				</li>

				{% assign sorted_navitems = site.navitems | sort: "order" %}
				{% for nav in sorted_navitems %}
				{% if nav.is_technology%}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						{{ nav.name -}}
					</a>
					<ul class="dropdown-menu">
						{% assign sorted_technologies = site.technologies | sort: "order" %}
						{% for tech in sorted_technologies %}
						<li><a class="dropdown-item" href="{{ site.baseurl | append: tech.url}}">{{ tech.name -}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl | append: nav.url }}"> {{ nav.name }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit" style="display: none;">Search</button>
			</form>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="external-link nav-link" href="{{ site.github['repository_url']}}" aria-label="github">
						<span class="fab fa fab fa-github fa-lg"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	</div>