/* :root {
	--bs-emphasis-color-rgb: #222,
} */


.background-hi {
	background-color: #10099F;
	color: #F5F5F5;
}

/* 
.navbar {
	--bs-navbar-color: aquamarine;
	--bs-navbar-padding-y: 2.5rem;
} */

.nav-link-banner {
	color: #F5F5F566;
}

.nav-home {
	color: #F5F5F5;
}

#toc {
	box-sizing: border-box;
	position: sticky;
	top: 56px;
	display: block;
	overflow-y: auto;
	max-height: calc(100vh - 56px - 1rem);
}