---
---
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{site.description}}">
	<meta property="og:title" content="From geospatial to spatial omics">
	<meta property="og:description" content="{{site.description}}">

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"
		integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/v4-shims.min.css"
		integrity="sha256-wZjR52fzng1pJHwx4aV2AO3yyTOXrcDW7jBpJtTwVxw=" crossorigin="anonymous">
	<!-- bootstrap-toc -->
	<script src="https://cdn.jsdelivr.net/gh/afeld/bootstrap-toc@v1.0.1/dist/bootstrap-toc.min.js"
		integrity="sha256-4veVQbu7//Lk5TSmc7YV48MxtMy98e26cf5MrgZYnwo=" crossorigin="anonymous"></script>
	<!-- headroom.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/headroom.min.js"
		integrity="sha256-AsUX4SJE1+yuDu5+mAVzJbuYNPHj/WroHuZ8Ir/CkE0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.11.0/jQuery.headroom.min.js"
		integrity="sha256-ZX/yNShbjqsohH1k95liqY9Gd8uOiE1S4vZc+9KQ1K4=" crossorigin="anonymous"></script>
	<!-- clipboard.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"
		integrity="sha256-inc5kl9MA1hkeYUt+EC3BhlIgyp/2jDIyBLS6k3UxPI=" crossorigin="anonymous"></script>
	<!-- search -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.js"
		integrity="sha512-zv6Ywkjyktsohkbp9bb45V6tEMoWhzFzXis+LrMehmJZZSys19Yxf1dopHx7WzIKxr5tK2dVcYmaCk2uqdjF4A=="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.38.0/autocomplete.jquery.min.js"
		integrity="sha512-GU9ayf+66Xx2TmpxqJpliWbT5PiGYxpaG8rfnBEk1LL8l1KGkRShhngwdXK1UgqhAzWpZHSiYPc09/NwDQIGyg=="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
		integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
		crossorigin="anonymous"></script>

	{% if page.layout == "notebook"%}
	<!-- Notebook specific includes -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
	<!-- Jupyter stylesheets -->
	<link rel="stylesheet" href="{{site.baseurl | append: '/styles/ipynb1.css'}}">
	<link rel="stylesheet" href="{{site.baseurl | append: '/styles/ipynb2.css'}}">
	<link rel="stylesheet" href="{{site.baseurl | append: '/styles/ipynb3.css'}}">
	<link rel="stylesheet" href="{{site.baseurl | append: '/styles/ipynb4.css'}}">
	<!-- Conigure mathjax -->
	{% include mathjax_scripts.html %}
	{% endif %}
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{site.baseurl}}/styles/main.css">
	<style>
		main>.container {
			padding: 60px 15px 0;
		}
	</style>
</head>

<body class="d-flex flex-column h-100">
	<header>
		{% include navbar.html%}
	</header>
	<!-- <br> -->
	<main class="flex-shrink-0">
		<div class="container">
			<div class="container-fluid">
				<div class="row">
					{{ content }}
				</div>
			</div>
		</div>
	</main>

	<footer class="footer bd-footer py-4 py-md-5 mt-auto bg-body-tertiary">
		<div class="container">
			<p>Developed by Petur H. Einarsson, Sindri M. Antonsson, Pall Melsted.</p>
		</div>
	</footer>


	<script src="{{site.baseurl}}/jekyll_toc/toc.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			let header_var = "{{ page.toc_header }}" | "{{ layout.toc_header }}" || "h2";
			$('#toc').toc({
				listType: 'ul',
				classes: {
					list: 'list-group',
					item: 'list-group-item list-group-item-light', //  list-group-item-action list-group-item-light
					link: 'nav-link'
				},
				headers: header_var,
				title: 'On this page',
				minimumHeaders: 2,
				showSpeed: 0,
				noBackToTopLinks: true,
			});
		});
	</script>
</body>

</html>